<div class="main">
  <div class="header-container">
    <div class="header-content">
      <div class="company-detail">
        <div class="company-logo">
          <img src="../../assets/icon/logo.jpg" alt="Avatar" />
        </div>
        <div class="company-info">
          <span class="company-name">ApnaMart</span>
          <div class="tag-content">
            <div class="company-tag-container">
              <span class="company-tag">Ent. Saas</span>
            </div>
            <div class="company-tag-container1">
              <span class="company-tag1">Deep Tag</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress-container">
      <circle-progress
        [percent]="60"
        [radius]="10"
        [outerStrokeWidth]="4"
        [innerStrokeWidth]="4"
        [space]="-4"
        [outerStrokeColor]="'#00b971'"
        [innerStrokeColor]="'#100'"
        [animation]="true"
        [animationDuration]="300"
        [showTitle]="false"
        [showUnits]="false"
        [showSubtitle]="false"
      ></circle-progress>
    </div>
  </div>

  <div class="company-desc">
    <span class="company-desc-content">Co-Investors</span>
  </div>

  <div class="company-desc-tag">
    <div class="cmp-tag-container">
      <span class="cmp-tag-content">Accel</span>
    </div>

    <div class="cmp-tag-container1">
      <span class="cmp-tag-content1">Accel</span>
    </div>
  </div>
</div>
