<div class="main">

  <img class="img-adj" src="../../assets/icon/Ellipse 2.png" />

  <img class="img-adj" src="../../assets/icon/background-image.png" />

  <div class="portfolio-title-content">
    <div (click) = "dashboard()" class="back-content">
      <img src="../../assets/icon/back.png" alt="back" />
    </div>
    <span class="portfolio-title"> ApnaMart </span>
  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">Overview</span>
    </div>
  </div>

  <div class="overview-content">
    <span class="content-key"> Status </span>
    <span class="content-value"> Closed / Won</span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Sub Market </span>
    <span class="content-value"> Omnichannel B2B2C Retail Saas</span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Seed Sub Stage </span>
    <span class="content-value"> Early revenue </span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Fundrais Amt </span>
    <span class="content-value"> $2.55 MM </span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Company Name </span>
    <span class="content-value"> Fleet Labs Technologies Private Limited
    </span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Pre Money Valuation </span>
    <span class="content-value">  $8.5 MM</span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Commitments </span>
    <span class="content-value">  $2.5 MM</span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Allocation </span>
    <span class="content-value">  $250 K</span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Min LP Ticket </span>
    <span class="content-value"> Inr 5 Lacs</span>
  </div>

  <div class="overview-content">
    <span class="content-key"> DC Scrore (100) </span>
    <span class="content-value"> 84 </span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Closing Deadline </span>
    <span class="content-value"> Febuary 19, 2022 </span>
  </div>

  <div class="overview-content">
    <span class="content-key"> Co-investor </span>
    <span class="content-value"> Accel </span>
  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">Introduction</span>
    </div>
  </div>

  <div class="portfolio-introduction-card">
    <span class="portfolio-intro-title">We are excited to bring you this oppor-tunity in the omnichannel hyperlocal space.</span>
    <span class="portfolio-intro-title margin-top-12">With all the saturation around the quick commerce space, this opportunity might come as a surprise to some of you. However, what's notable is that while there was a whole lot of attention given to the speed of delivery (and correlated funding attached to it), there were some core problems in tier 2 & 3 cities yet to be solved, namely</span>
    <span class="adj"><span class="dot">1. </span ><span class="portfolio-sub-title"> Availability of right SKUs/ products. </span></span>
    <span class="adj"><span class="dot">2. </span ><span class="portfolio-sub-title"> Competitively priced products (assuming condition 1 above is met) </span></span> 
    <span class="adj"><span class="dot">3. </span ><span class="portfolio-sub-title"> Reliable service, rather than immediate service (assuming condition 1 and 2 above is met) </span></span> 
  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">Customers feedback</span>
    </div>
  </div>

  <div class="video-feedback-content">
     <span class="video-title">Conversation 1</span>
     <div class="video-content">
      <!-- <iframe height="182" src="https://www.youtube.com/embed/f6Oal6dYLGE" frameborder="0" allowfullscreen></iframe> -->
     </div>
  </div>

  <div class="video-feedback-content">
    <span class="video-title">Conversation 2</span>
    <div class="video-content">
     <!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(videourl)" allow="autoplay;" frameborder="0"
             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
    </div>
 </div>

</div>
