<div class="main">
    <div class="logo-content">
       <div class="logo">
         <img src="../../assets/icon/lo.png" alt="profile" />
       </div>
   </div>
 
   <span class="login-title">Let's sign you in</span>
 
   <span class="login-sub-title">Welcome back.</span>
 
   <input class="input-email" placeholder="Phone, email" type="text" />
 
   <input class="input-password" placeholder="Password" type="password" />
 
   <div class="footer">
     <button (click) = "reviewPage()" class="sign-in-btn">Sign In</button>
   </div> 
 </div>
