<div class="main">
  <div class="logo-content">
    <div class="logo">
      <img src="../../assets/icon/DC-White -New.png" alt="profile" />
    </div>
  </div>

  <span class="change-pwd-title"> Hi Parth</span>
 
  <span class="change-pwd-sub-title"> Change your password</span>

  <input class="input-password margin-top42" placeholder="Old Password" type="password" />

  <input class="input-password margin-top15" placeholder="Confirm Password" type="password" />

  <div class="footer">
    <button class="confirm-btn"> Confirm </button>
  </div>

</div>
