<div class="main">
  <div class="tech-sector">
    <span class="tech-sector-title">Ent Tech</span>
  </div>

  <div class="company-info">
    <div class="company-detail">
      <img src="../../assets/icon/logo.jpg" alt="Avatar" />
      <div class="company-name">
        <span class="company-title">ApnaMart</span>
      </div>
    </div>
  </div>

  <div class="company-info">
    <div class="company-detail">
      <img src="../../assets/icon/logo2.png" alt="Avatar" />
      <div class="company-name">
        <span class="company-title">Lincode</span>
      </div>
    </div>
  </div>
</div>
