<div class="main">
  <div class="app-header">
      <div class="app-logo">
        <img src="../../assets/icon/Logo.png" alt="Avatar" />
      </div>

      <div class="app-profile">
        <img src="../../assets/icon/Profile Picture.png" alt="Avatar" />
      </div>
  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">Portfolio</span>
    </div>

    <!-- <div class="toggle-currency">
        <div>MANISH</div>
    </div> -->
  </div>

  <div class="portfolio-details">

      <div class="invest-div">
           <span class="tit">Invested</span>
           <span><span class="money-div">4.75</span><span class="money-shorthand">M</span></span>
           <span class="currency">USD</span>
      </div>

      <div class="current-div">
        <span class="tit">Current</span>
        <span><span class="money-div">6.10</span><span class="money-shorthand">M</span></span>
        <span class="currency">USD</span>
      </div>

      <div class="gain-div">
        <span class="tit">Gains</span>
        <span><span class="money-div success">1.35</span><span class="money-shorthand success">M</span></span>
        <span class="currency">USD</span>
      </div>

  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">Holdings</span>
    </div>

    <!-- <div class="toggle-currency">
        <div>MANISH</div>
    </div> -->
  </div>

  <div class="app-holding">
     <app-holding-missed (click)="porfolioOverviePage()"></app-holding-missed>
     <app-holding-missed></app-holding-missed>
     <app-holding-missed></app-holding-missed>
  </div>

  <div class="app-title-content1">
    <div class="app-title1">
      <span class="title">Deals you missed</span>
    </div>

      <span class="sub-title">If you insvested INR 10L</span>
  </div>


  <div class="app-holding">
    <app-holding-missed></app-holding-missed>
    <app-holding-missed></app-holding-missed>
    <app-holding-missed></app-holding-missed>
 </div>

</div>
