<div class="main">
  <div class="header-view">
      <div class="img-logo">
        <img class="img-logo-adj" src="../../assets/icon/Apnamart_Transparent_Logo 1.png" alt="Avatar" />
      </div>

      <div class="title-txt">
        <span class="title-name">ApnaMart nominated for Startup of the year 2022.</span>
      </div>
  </div>

  <div class="feed-img">
    <img class="feed-img-adj" src="../../assets/icon/feed1.png" alt="Avatar" />
  </div>

</div>


<div class="main">
  <div class="header-view">
      <div class="img-logo">
        <img class="img-logo-adj1" src="../../assets/icon/Rectangle 82.png" alt="Avatar" />
      </div>

      <div class="title-txt">
        <span class="title-name">ScanPay now supports your local stores</span>
      </div>
  </div>

  <div class="feed-img">
    <span class="feed-desc">ScanPay works as a single point payment service provider and enables merchants to ensure a frictionless  experience to their customers. </span>
  </div>

</div>