<div class="main">
  <div class="profile-title-content">
    <div (click)="dashboard()" class="back-content">
      <img src="../../assets/icon/back.png" alt="back" />
    </div>
    <span class="profile-title"> Parth </span>
    <div class="app-profile">
      <img src="../../assets/icon/Profile Picture.png" alt="Avatar" />
    </div>
  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">My Investments</span>
    </div>
  </div>

  <div class="investment-data">
    <div class="header-data-profile">
      <div class="profile-logo">
        <img src="../../assets/icon/Group 9.png" alt="back" />
      </div>
      <div class="dc-logo">
        <img src="../../assets/icon/DC-White - Copy 1.png" alt="back" />
      </div>
    </div>

    <div class="profile-detail">
          <div class="profile-info">
            <span class="profile-name"> Parth Dave</span>
            <span class="profile-id"> 1413 5982 70 </span>
          </div>

          <div class="profile-chip">
            <img src="../../assets/icon/Group.png" alt="back" />
          </div>
    </div>

    <div class="profile-value">
      <div class="profile-data">
        <span class="value-title"> Remaining </span>
        <span class="actual-value"> INR 10.25M </span>
      </div>

      <div class="profile-data1">
        <span class="value-title"> Invested </span>
        <span class="actual-value"> INR 1.25M </span>
      </div>
   </div>

  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title">Account Settings</span>
    </div>
  </div>

  <div class="setting-option-content">
    <span (click)="openPortfolioPage()" class="option-title"
      >Manage account</span
    >
  </div>

  <div class="setting-option-content">
    <span (click)="changePasswordPage()" class="option-title"
      >Change password</span
    >
  </div>

  <div class="setting-option-content">
    <span class="option-title">Logout</span>
  </div>

  <div class="app-title-content">
    <div class="app-title">
      <span class="title"> Other Help </span>
    </div>
  </div>

  <div class="setting-option-content">
    <span class="option-title"> Download Reports </span>
  </div>

  <div class="setting-option-content">
    <span class="option-title"> View investment patterns</span>
  </div>

  <div class="setting-option-content">
    <span class="option-title"> Log a support request </span>
  </div>
</div>
