.main {
    background-color: #202123;
    padding: 15px;
    transition: 0.3s;
    border-radius: 10px;
    width: 16rem;
    height: 9.2rem;
    margin-right: 10px;
    box-shadow: 2px 2px 8px rgb(13 15 17 / 25%);
    border-radius: 10px;
}