<div class="main">
  <div class="header-container">
    <div class="header-content">
      <div class="company-detail">
        <div class="company-logo">
          <img src="../../assets/icon/logo.jpg" alt="Avatar" />
        </div>
        <div class="company-info">
          <span class="company-name">ApnaMart</span>
          <div class="tag-content">
            <div class="company-tag-container">
              <span class="company-tag">Ent. Saas</span>
            </div>
            <div class="company-tag-container1">
              <span class="company-tag1">Deep Tag</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="currency-container">
      <span class="currency-text">USD</span>
    </div>
  </div>

  <div class="portfolio-details">

    <div class="invest-div">
         <span class="tit">Invested</span>
         <span><span class="money-div">4.75</span><span class="money-shorthand">M</span></span>
    </div>

    <div class="current-div">
      <span class="tit">Current</span>
      <span><span class="money-div">6.10</span><span class="money-shorthand">M</span></span>
    </div>

    <div class="gain-div">
      <span class="tit">Gains</span>
      <span><span class="money-div success">1.35</span><span class="money-shorthand success">M</span></span>
    </div>

</div>

</div>
